.App {
  text-align: center;
}

.Title {
  height: 10vh;
}

h1 {
  letter-spacing: 3px;
  font-weight: normal;
}

h5 {
  letter-spacing: 1px;
  font-weight: normal;
}

.main-wrapper {
  display: flex;
}

.Sidebar {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.InputWrapper {
  width: 80%;
}

.TextInput {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
}

.input-descriptor {
  font-size: 18px;
}

.range-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
}

.number-input {
  height: 30px;
  width: 40%;
  border: none;
  padding-bottom: 5px;
  font-size: 18px;
  background: transparent;
  border-bottom: 1px solid black;
}

.number-input:focus {
  outline: none;
}

.Graph {
  height: 70vh;
  width: 70vw;
  position: relative;
}

.Totals {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Total {
  margin: 50px;
}

.total-title {
  margin: 10px;
  letter-spacing: 1px;
  font-size: 20px;
}

.total-amount {
  letter-spacing: 2px;
  font-size: 30px;
}
