.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.chart-wrapper {
  /* background-color: #282c34; */
  min-height: 70vh;
  width: 70vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.main-wrapper {
  display: flex;
}

.text-input-wrapper {
  display: flex;
  justify-content: space-around;
}

.Title {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Totals {
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Sidebar {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
